@font-face {
	font-family: Nunito-Regular;
	src: url("../fonts/Nunito-Regular.ttf");
}

body {
	font-family: Nunito;
}

.hi-section1 {
	padding: 8rem 6rem 8rem 8rem !important;
}

.text-size {
	font-size: 1.4vw;
}

.sec1-heading {
	font-size: 5vw;
	margin-bottom: 0;
	font-weight: bold;
}

.sec1-text {
	padding-top: 1rem;
}

.sec1-green-text-area {
	padding: 2rem 0;
}

.sec1-green-text {
	font-size: 3vw;
	font-weight: bold;
	color: #51a095;
	text-align: right;
}

.girl-gif-sm {
	display: none;
}

.girl-gif {
	width: 100%;
}

.hi-section2 {
	padding: 0 5rem 8rem 5rem !important;
}

.hi-sec2-sm-head {
	display: none;
}

.hi-sec2-text1 {
	font-weight: bold;
	font-size: 1.4vw;
}

.hi-sec2-text2 {
	font-size: 1.4vw;
}

.sec2-text {
	font-weight: bold;
}

.pc-image-area {
	display: flex;
	justify-content: center;
	align-items: end;
}

.pc-image {
	width: 120%;
	position: relative;
	bottom: -30px;
}

.pc-left-text {
	margin-top: 1rem;
}

.pc-rightText-area {
	display: flex;
	align-items: end;
	justify-content: center;
	padding-left: 10px;
}

.hi-section3 {
	padding: 0 6rem !important;
}

.sec3-all-text-center {
	text-align: center;
}

.sec3-head {
	margin-bottom: 1.5rem;
	font-weight: bold;
}

.sec3-text {
	padding-top: 0.5rem;
	font-size: 1.4vw;
}

.sec3-btn {
	color: #f6eeee;
	background-color: #0e4952;
	padding: 3px 40px;
	border-radius: 25px;
	font-size: 1.4vw;
	font-weight: 600;
	border: none;
	margin-top: 3rem;
}

.sec3-btn:hover {
	color: #0e4952;
	background-color: transparent;
	border: 1px solid #0e4952;
	margin-top: 2.9rem;
}

.sec3-small-image1 {
	width: 15%;
	margin-bottom: 2rem;
}

.sec3-small-image2 {
	width: 27%;
	margin-bottom: 1rem;
	margin-top: 0.3rem;
}

.sec3-small-image3 {
	width: 12%;
	margin-bottom: 2.1rem;
	margin-top: 1rem;
}

.hi-last-sec {
	background-color: #fff;
}

.hi-sec4-lg-backimg-area {
	display: block;
	width: 100%;
	position: absolute;
	z-index: 3;
}

.hi-sec4-lg-backimg {
	width: 100%;
}

.hi-sec4-sm-backimg {
	display: none;
}

.sec4-body {
	padding: 4rem 6rem 0 6rem;
	z-index: 5;
	position: relative;
	padding-top: 10%;
}

.sec-text-1 {
	font-size: 4vw;
	display: block !important;
	font-weight: bold !important;
}

.sec-text-2 {
	font-size: 10vw;
	display: block !important;
	font-weight: bold !important;
	color: #0e4952;
}

.sec-text-3 {
	font-size: 1.5vw;
	display: block !important;
	padding-bottom: 2rem;
}

.hi-sec4-sm-img {
	display: none;
}

.sec-text-4 {
	font-size: 2.5vw;
	display: block !important;
	font-weight: bold !important;
	padding-bottom: 0.5rem;
}

.sec-text-5 {
	font-size: 1.7vw;
	display: block !important;
}

.hi-sec4-image {
	width: 100%;
}

.sec4-btn-area {
	display: flex;
	justify-content: center;
}

.sec4-content {
	margin-bottom: 10%;
}

.sec4-btn {
	color: #f6eeee;
	background-color: #0e4952;
	padding: 3px 3rem;
	border-radius: 20px;
	font-size: 16px;
	font-weight: 600;
	border: none;
	z-index: 4;
}

.hi-footer {
	position: absolute;
	z-index: 5;
	margin-top: 3rem;
}

@media only screen and (max-width: 767px) {
	.hi-section1 {
		padding: 3rem 1rem 0 1rem !important;
	}

	.sec1-heading {
		font-size: 9vw;
	}

	.sec1-text {
		padding-top: 0.5rem;
		font-size: 5.2vw;
	}

	.hi-sec1-text1 {
		font-size: 4.7vw;
		display: block;
		padding-bottom: 1rem;
	}

	.hi-sec1-text2 {
		font-size: 4.7vw;
		display: block;
		padding-bottom: 1rem;
	}

	.hi-sec1-text3 {
		font-size: 4.7vw;
		display: block;
	}

	.sec1-green-text-area {
		padding: 1rem 0;
		padding-left: 1rem;
		padding-bottom: 30%;
	}

	.sec1-green-text {
		font-size: 30px;
		font-weight: bold;
		color: #51a095;
		text-align: left;
	}

	.girl-gif-sm {
		display: inline;
		width: 50%;
		float: right;
	}

	.girl-gif {
		display: none;
	}

	.hi-section2 {
		padding: 3rem 1rem 0 1rem !important;
	}

	.hi-sec2-sm-head {
		display: block;
		text-align: center;
		font-size: 5vw;
		font-weight: bold;
		padding-bottom: 2rem;
	}

	.hi-sec2-text1 {
		font-weight: bold;
		font-size: 4.7vw;
		margin-bottom: 1.5rem;
	}

	.hi-sec2-text2 {
		font-size: 4vw;
	}

	.pc-image-area {
		position: relative;
		left: -40px;
		margin-top: 2rem;
		margin-bottom: 5rem;
	}

	.pc-image {
		width: 120%;
		position: relative;
		bottom: -30px;
	}

	.pc-left-text {
		margin-top: 1rem;
	}

	.pc-rightText-area {
		display: flex;
		align-items: end;
		justify-content: center;
		padding-left: 10px;
	}

	.hi-section3 {
		padding: 3rem 1rem 0 1rem !important;
	}

	.sec3-all-text-center {
		text-align: left;
		margin-bottom: 2rem;
	}

	.sec3-head {
		margin-bottom: 1rem;
		font-weight: bold;
		display: inline-block;
		font-size: 4.7vw;
	}

	.sec3-text {
		padding-top: 0;
		font-size: 4vw;
		display: block;
	}

	.hi-sec3-flex {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.sec3-btn {
		padding: 3px 30px;
		border-radius: 20px;
		font-size: 16px;
		margin: 1rem;
	}

	.sec3-btn:hover {
		color: #0e4952;
		background-color: transparent;
		border: 1px solid #0e4952;
		margin-top: 0.85rem;
	}

	.sec3-small-image1 {
		width: 15%;
		margin-bottom: 0.8rem;
		margin-right: 2.5rem;
	}
	.sec3-small-image2 {
		width: 27%;
		margin-bottom: 0;
		margin-top: 0;
	}
	.sec3-small-image3 {
		width: 12%;
		margin-bottom: 1rem;
		margin-top: 0;
		margin-right: 2.5rem;
	}

	.hi-sec4-lg-backimg {
		display: none;
	}

	.hi-sec4-sm-backimg {
		display: block;
		width: 100%;
		position: relative;
	}

	.sec4-body {
		padding: 4rem 1rem 0 1rem;
		z-index: 4;
		position: relative;
	}

	.sec-text-1 {
		text-align: center;
		font-size: 8vw;
		font-weight: bold;
	}

	.sec-text-2 {
		font-size: 20vw;
		text-align: center;
	}

	.sec-text-3 {
		font-size: 4.7vw;
		text-align: center;
		padding-bottom: 2rem;
	}

	.hi-sec4-sm-img {
		display: block !important;
		width: 100%;
		text-align: center;
		padding-bottom: 2rem;
	}

	.sec-text-4 {
		font-size: 8vw;
		text-decoration: center;
	}

	.sec-text-5 {
		font-size: 4.7vw;
		text-align: center;
	}

	.sec4-content {
		margin-bottom: 0;
	}

	.hi-sec4-image-area {
		display: flex;
		justify-content: center;
	}

	.hi-sec4-image {
		width: 100%;
	}

	.sec4-btn {
		color: #f6eeee;
		background-color: #0e4952;
		padding: 3px 3rem;
		border-radius: 20px;
		font-size: 16px;
		font-weight: 600;
		border: none;
		margin-top: 1rem;
		z-index: 4;
		margin-bottom: 0;
	}

	.hi-footer {
		position: relative;
		margin-top: 0;
	}
}
